* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.wrapper {
  width: 1170px;
  margin: auto;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/Images/newbackground.jpeg);
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}
.nav-area {
  float: right;
  list-style: none;
  margin-top: 30px;
}
.nav-area li {
  display: inline-block;
}
.nav-area li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
}
.nav-area li a:hover {
  background: #fff;
  color: #333;
}
.logo {
  max-width: 50%;
  height: auto;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}
.logo img {
  max-width: 50%;
  height: auto;
  padding: 2px 0;
  position: fixed;
  scale: 10%;
  top: -20;
  left: 0;
}
.welcome-text {
  position: absolute;
  width: 600px;
  height: 300px;
  margin: 20% 30%;
  text-align: center;
}
.welcome-text h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
}
.welcome-text a {
  border: 1px solid #fff;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}
.welcome-text a:hover {
  background: #fff;
  color: #333;
}

/*card styles*/
*
	box-sizing: border-box;

body, html
	width: 100%
	height: 100%
	display: flex
	align-items: center
  justify-content: center
  background: white; 
  
.wrapper
	display: flex
	width: 90%
	justify-content: space-around

.card
	width: 280px
	height: 360px
	border-radius: 15px
	padding: 1.5rem
	background: white
	position: relative
	display: flex
	align-items: flex-end
	transition: 0.4s ease-out
	box-shadow: 0px 7px 10px rgba(black, 0.5)
	&:hover
		transform: translateY(20px)
		&:before
			opacity: 1
		.info
			opacity: 1
			transform: translateY(0px)
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		display: block
		width: 100%
		height: 100%
		border-radius: 15px
		background: rgba(black, 0.6)
		z-index: 2
		transition: 0.5s
		opacity: 0
	img
		width: 100%
		height: 100%
		object-fit: cover
		position: absolute
		top: 0
		left: 0
		border-radius: 15px

	.info
		position: relative
		z-index: 3
		color: white
		opacity: 0
		transform: translateY(30px)
		transition: 0.5s
		h1
			margin: 0px
		p
			letter-spacing: 1px
			font-size: 15px
			margin-top: 8px
		button
			padding: 0.6rem
			outline: none
			border: none
			border-radius: 3px
			background: white
			color: black
			font-weight: bold
			cursor: pointer
			transition: 0.4s ease
			&:hover
				background: dodgerblue
				color: white

/*resposive*/

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  .logo {
    float: none;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  img {
    width: ;
  }
  .nav-area {
    float: none;
    margin-top: 0;
  }
  .nav-area li a {
    padding: 5px;
    font-size: 11px;
  }
  .nav-area {
    text-align: center;
  }
  .welcome-text {
    width: 100%;
    height: auto;
    margin: 30% 0;
  }
  .welcome-text h1 {
    font-size: 30px;
  }
}
