* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/wildf.jpg) no-repeat center fixed;
  background-size: cover;
}

.wrapper {
  width: 1170px;
  margin: auto;
}

header {
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

p {
  color: white;
  line-height: 16pt;
  padding: 15px;
  font-style: normal;
}
.nav-area {
  float: right;
  list-style: none;
  margin-top: 30px;
}
.nav-area li {
  display: inline-block;
}
.nav-area li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
}
.nav-area li a:hover {
  background: #fff;
  color: #333;
}

/*.logo img {
  max-width: 30%;
  max-height: 30%;
  margin-left: -20px;
  margin-top: -40px;
  height: auto;
  padding: 1px 0;
  position: fixed;
  top: -20;
  left: 0;
} */

iframe {
  size: 30px;
  align: center;
}

.welcome-text {
  position: absolute;
  text-align: center;
  top: -10%;
  margin: 20% 30%;
  text-align: top;
}

.welcome-text {
  position: absolute;
  text-align: center;
  top: -10%;
  margin: 20% 30%;
  text-align: top;
}

.welcome-text h1 {
  text-align: top;
  line-height: 50pt;
  color: #ffe555;
  text-transform: uppercase;
  font-size: 60px;
  padding: 20px;
}

/*FAQ section*/
body {
  font-family: "Lato", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

p {
  color: white;
}

summary {
  color: #ffe555;
  font-style: italic;
}

h2 {
  margin: 20px auto 80px;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  top: 15px;
  position: relative;
  color: #ffe555;
  padding: 25px;
}

details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

details p {
  color: #96999d;
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px white;
}

summary::-webkit-details-marker {
  display: none;
}

.control-icon {
  fill: #ffe555;
  transition: 0.3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: 0.3s ease;
}

details[open] .control-icon-expand {
  display: none;
}

/*card styles*/

/*resposive*/

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  .logo {
    float: none;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  .nav-area {
    float: none;
    margin-top: 0;
  }
  .nav-area li a {
    padding: 5px;
    font-size: 11px;
  }
  .nav-area {
    text-align: center;
  }
  .welcome-text {
    width: 100%;
    height: 100%;
  }
  .welcome-text h1 {
    font-size: 30px;
  }
}

.section-centered {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}

.section-centered p {
  color: white;
}

.section-centered img {
  width: 100%;
  height: auto;
}

.section-centered h1 {
  color: #ffe555;
}

nav {
  position: relative;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

nav img {
  height: 60px;
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav li {
  padding-left: 20px;
}

nav a,
nav a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;

  /* text-transform: uppercase; */
}

#hamburger {
  display: none;
  height: 40px;
  width: auto;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    position: absolute;
    top: 84px;
    left: 0;
    background: black;
    width: 100%;
    padding: 20px 0;
  }

  nav ul.active {
    display: block;
  }

  nav li {
    padding: 20px;
  }

  #hamburger {
    display: block;
  }
}
